extends ../layouts/base

append vars
	- title = 'Главная'

block content
	include ../layouts/main
	include ../layouts/offer
	include ../layouts/steps
	include ../layouts/winners
	include ../layouts/faq