+b.faq#faq
	+e.wrap.wrap.flex
		+e.bubble1.js-svg(data-svg-src="app/objects/faq__bubble1.svg")
		+e.bubble2.js-svg(data-svg-src="app/objects/faq__bubble2.svg")
		+e.bubble3.js-svg(data-svg-src="app/objects/faq__bubble3.svg")
		+e.bubble4.js-svg(data-svg-src="app/objects/faq__bubble4.svg")
		+e.left
			+e.icon.js-svg(data-svg-src='app/objects/conversation.svg')
			+e.H2.title.h2
				| Часто 
				br
				| задаваемые 
				br
				| вопросы
		+e.list
			+e.item
				+e.head
					+e.desc
						| Кто может принять участие?
					+e.btn
						+e.btn-icon
				+e.content
					p
						| Вы должны иметь транспорт и аккаунт в Uber, Такси 1, Такси 2, Такси 3. 
					p
						| Пройдите регистрацию что бы создать личный кабинет, где будет 
						a(href="#") отображаться 
						| Ваш рейтинг
			+e.item
				+e.head
					+e.desc
						| Что нужно сделать что бы принять участие?
					+e.btn
						+e.btn-icon
				+e.content
					p
						| Вы должны иметь транспорт и аккаунт в Uber, Такси 1, Такси 2, Такси 3. 
					p
						| Пройдите регистрацию что бы создать личный кабинет, где будет 
						a(href="#") отображаться 
						| Ваш рейтинг
			+e.item
				+e.head
					+e.desc
						| Как победить в акции?
					+e.btn
						+e.btn-icon
				+e.content
					p
						| Вы должны иметь транспорт и аккаунт в Uber, Такси 1, Такси 2, Такси 3. 
					p
						| Пройдите регистрацию что бы создать личный кабинет, где будет 
						a(href="#") отображаться 
						| Ваш рейтинг
			+e.item
				+e.head
					+e.desc
						| Что нужно сделать что бы принять участие?
					+e.btn
						+e.btn-icon
				+e.content
					p
						| Вы должны иметь транспорт и аккаунт в Uber, Такси 1, Такси 2, Такси 3. 
					p
						| Пройдите регистрацию что бы создать личный кабинет, где будет 
						a(href="#") отображаться 
						| Ваш рейтинг
			+e.item
				+e.head
					+e.desc
						| Как победить в акции?
					+e.btn
						+e.btn-icon
				+e.content
					p
						| Вы должны иметь транспорт и аккаунт в Uber, Такси 1, Такси 2, Такси 3. 
					p
						| Пройдите регистрацию что бы создать личный кабинет, где будет 
						a(href="#") отображаться 
						| Ваш рейтинг
			+e.item
				+e.head
					+e.desc
						| Что нужно сделать что бы принять участие?
					+e.btn
						+e.btn-icon
				+e.content
					p
						| Вы должны иметь транспорт и аккаунт в Uber, Такси 1, Такси 2, Такси 3. 
					p
						| Пройдите регистрацию что бы создать личный кабинет, где будет 
						a(href="#") отображаться 
						| Ваш рейтинг