+b.FOOTER.footer
	+e.wrap.wrap
		+e.top.flex._justify._vertical
			+e.A.logo.js-svg(data-svg-src="app/objects/logo.svg")
			a.to-top.js-scroll-to(href="#top")
				span.to-top__arrow
					+icon('arrow','0 0 12 10')
				span Вернуться в начало
			+e.A.polity(href="#") Политика конфиденциальности
		+e.center.flex._justify._vertical
			+e.NAV.menu
				+e.A.link.js-scroll-to(href="#main") Главная
				+e.A.link.js-scroll-to(href="#share") Акция
				+e.A.link.js-scroll-to(href="#winners") Наши победители
				+e.A.link.js-scroll-to(href="#faq") FAQ
			+e.right.flex_vertical
				+e.A.email(href="mailto:support@oboosho.com")
					strong support@
					| oboosho.com
				+e.lang
					+e.A.lang-item._current(href="#ru")
						+e.IMG.lang-icon(src='/img/flag-ru.png')
						+e.lang-text Ru
					+e.lang-list
						+e.A.lang-item(href="#ru")
							+e.IMG.lang-icon(src='/img/flag-ru.png')
							+e.lang-text Ru
						+e.A.lang-item(href="#eng")
							+e.IMG.lang-icon(src='/img/flag-eng.png')
							+e.lang-text Eng
				+e.A.btn.btn._download.js-modal(href="#modal") Скачать
					span.btn__load
						span.btn__load-icon
							+icon('arrow','0 0 12 10')
				+e.A.burger.js-modal(href="#menu")
					+icon('burger','0 0 17 8')
		+e.bottom.flex._justify._vertical
			+e.A.polity(href="#") Политика конфиденциальности
			+e.A.copyright ©Taxi 2019.  Все права защищены.
			+e.A.develop(href="#") Создание сайта - Bairamov Studio