+b.video.modals.mfp-hide#video
+b.modal.modals.mfp-hide#modal
	+e.list
		+e.item
			+e.number.active 1
			+e.text.active
				| Вы должны работать в такси Uber или Lyft. 
				br
				| В приложении нужно будет авторизоваться через Ваше такси, и город в котором хотите участвовать. 
		+e.item
			+e.number 2
			+e.text
				| Участие проходит в рамках одной недели. По итогам недели, тот кто развезет больше всех заявок, забирает весь призовой фонд.
		+e.item
			+e.number 3
			+e.text
				| Стоимость участия: 20$ в неделю.
		+e.item
			+e.number 4
			+e.text
				| Вы можете участвовать каждую неделю!
	+e.img.js-svg(data-svg-src="app/objects/modal__img.svg")