+b.offer#share(data-aos="offer-aos")
	+e.wrap.wrap
		+e.list.flex_justify
			+e.item
				+e.head
					+e.icon.js-svg(data-svg-src="app/objects/step1__icon.svg")
					+e.number 1
				+e.bottom
					+e.H3.title.h3
						| Примите участие 
						br 
						| в нашей Акции
					+e.desc.color-grey
						| Зарегистрируйтесь на сайте для отображения рейтинга и оплатите взнос 20$ для принятия участия в Акции от Uber
					+e.A.more.more.js-modal(href="#modal")
						span.more__text Подробнее
						span.more__icon
							+icon('arrow2','0 0 20.852341 8.4377241')
			+e.item
				+e.head
					+e.icon.js-svg(data-svg-src="app/objects/step2__icon.svg")
					+e.number 2
				+e.bottom
					+e.H3.title.h3
						| Развозите больше
						br 
						| всех заявок
					+e.desc.color-grey
						| Реализуйте больше всех заявок. Каждую неделю мы подводим итоги и выбираем победителя!
					+e.A.more.more.js-modal(href="#modal")
						span.more__text Подробнее
						span.more__icon
							+icon('arrow2','0 0 20.852341 8.4377241')
			+e.item
				+e.head
					+e.icon.js-svg(data-svg-src="app/objects/step3__icon.svg")
					+e.number.active 3
				+e.bottom
					+e.H3.title.h3
						| Получайте приз
						br 
						| каждую неделю!
					+e.desc.color-grey
						| Станьте номером 1 и получите приз 
						br
						| в размере до 400 000$ и получите 
						br
						| в этот же день!
					+e.A.more.more.js-modal(href="#modal")
						span.more__text Подробнее
						span.more__icon
							+icon('arrow2','0 0 20.852341 8.4377241')