+b.steps
	+e.wrap.wrap
		+e.list
			+e.item.steps__item-1.flex._vertical
				+e.col1
					+e.number ШАГ 1
					+e.H2.title.h2 Зарегистрируйтесь на сайте и оплатите взнос 20$
					+e.desc.color-grey 
						| Скачайте и зарегистрируйтесь в нашем приложении. Участвовать можете каждую неделю! 
						br 
						| Стоимость участия :  20$ / 1 раз в неделю. 
						br
						a.js-modal(href="#modal")
							| Условия акции
					+e.btn.btn._big.js-modal(href="#modal") Условия акции
						span.btn__arrow
							+icon('arrow','0 0 12 10')
				+e.col2
					+e.img.js-svg(data-svg-src="app/objects/step1__img.svg")
				+e.step1-bubble1.js-svg(data-svg-src="app/objects/step1__bubble1.svg")
				+e.step1-bubble2.js-svg(data-svg-src="app/objects/step1__bubble2.svg")
				+e.step1-bubble3.js-svg(data-svg-src="app/objects/step1__bubble3.svg")
				+e.step1-bubble4.js-svg(data-svg-src="app/objects/step1__bubble4.svg")
			+e.item.steps__item-2.flex._vertical
				+e.col3
					+e.img.js-svg(data-svg-src="app/objects/step2__img.svg")
				+e.col4
					+e.number ШАГ 2
					+e.H2.title.h2 Выполните заявок больше всех
					+e.desc.color-grey 
						| Побеждает тот, кто по итогу к концу недели выполнит больше всех заявок. 
						br 
						| Победитель получает весь призовой фонд!
					+e.buttons.buttons.flex
						+e.A.btn.btn._app.js-modal(href="#modal")
							span.btn__center
								span.btn__icon-apple
									+icon('apple','0 0 28 32')
								span.btn__text
									span.btn__text-desc Загрузите в
									span.btn__text-title App Store
						+e.A.btn.btn._app.js-modal(href="#modal")
							span.btn__center
								span.btn__icon-play
									+icon('play','0 0 25 27')
								span.btn__text
									span.btn__text-desc Загрузите в
									span.btn__text-title App Store
				+e.step2-bubble1.js-svg(data-svg-src="app/objects/step2__bubble1.svg")
				+e.step2-bubble2.js-svg(data-svg-src="app/objects/step2__bubble2.svg")
				+e.step2-bubble3.js-svg(data-svg-src="app/objects/step2__bubble3.svg")
				+e.step2-bubble4.js-svg(data-svg-src="app/objects/step2__bubble4.svg")
			+e.item.steps__item-3.flex._vertical
				+e.col5
					+e.number ШАГ 3
					+e.H2.title.h2 Прийдите к нам в офис и заберите свой приз!
					+e.desc.color-grey 
						| Вы можете участвовать каждую неделю.
						br
						| 1 акция - 1 неделя. 
						br
						| Стоимость участия: 20$ - 1 неделя
					+e.buttons.buttons.flex
						+e.A.btn.btn._app.js-modal(href="#modal")
							span.btn__center
								span.btn__icon-apple
									+icon('apple','0 0 28 32')
								span.btn__text
									span.btn__text-desc Загрузите в
									span.btn__text-title App Store
						+e.A.btn.btn._app.js-modal(href="#modal")
							span.btn__center
								span.btn__icon-play
									+icon('play','0 0 25 27')
								span.btn__text
									span.btn__text-desc Загрузите в
									span.btn__text-title App Store
				+e.col6
					+e.img.js-svg(data-svg-src="app/objects/step3__img.svg")
				+e.step3-bubble1.js-svg(data-svg-src="app/objects/step3__bubble1.svg")
				+e.step3-bubble2.js-svg(data-svg-src="app/objects/step3__bubble2.svg")
				+e.step3-bubble3.js-svg(data-svg-src="app/objects/step3__bubble3.svg")
				+e.step3-bubble4.js-svg(data-svg-src="app/objects/step3__bubble4.svg")