+b.winners#winners
	+e.wrap.wrap
		+e.H2.title.h2 Победители
		+e.slider._top.swiper-container
			.swiper-wrapper
				+e.item.swiper-slide
					+e.IMG.item-img(src='/img/foto.jpg')
					+e.item-info
						+e.name Сергей1 Иванов
						+e.A.play.js-modal(href="#video",data-youtube="235EBuDrgG4")
							+e.play-icon
								+icon('play','0 0 25 27')
				+e.item.swiper-slide
					+e.IMG.item-img(src='/img/foto2.jpg')
					+e.item-info
						+e.name Сергей2 Иванов
						+e.A.play.js-modal(href="#video",data-youtube="235EBuDrgG4")
							+e.play-icon
								+icon('play','0 0 25 27')
				+e.item.swiper-slide
					+e.IMG.item-img(src='/img/foto2.jpg')
					+e.item-info
						+e.name Сергей3 Иванов
						+e.A.play.js-modal(href="#video",data-youtube="235EBuDrgG4")
							+e.play-icon
								+icon('play','0 0 25 27')
				+e.item.swiper-slide
					+e.IMG.item-img(src='/img/foto2.jpg')
					+e.item-info
						+e.name Сергей4 Иванов
						+e.A.play.js-modal(href="#video",data-youtube="235EBuDrgG4")
							+e.play-icon
								+icon('play','0 0 25 27')
				+e.item.swiper-slide
					+e.IMG.item-img(src='/img/foto2.jpg')
					+e.item-info
						+e.name Сергей5 Иванов
						+e.A.play.js-modal(href="#video",data-youtube="235EBuDrgG4")
							+e.play-icon
								+icon('play','0 0 25 27')
				+e.item.swiper-slide
					+e.IMG.item-img(src='/img/foto2.jpg')
					+e.item-info
						+e.name Сергей6 Иванов
						+e.A.play.js-modal(href="#video",data-youtube="235EBuDrgG4")
							+e.play-icon
								+icon('play','0 0 25 27')
				+e.item.swiper-slide
					+e.IMG.item-img(src='/img/foto2.jpg')
					+e.item-info
						+e.name Сергей7 Иванов
						+e.A.play.js-modal(href="#video",data-youtube="235EBuDrgG4")
							+e.play-icon
								+icon('play','0 0 25 27')
		+e.bottom.flex_justify
			+e.nav
				+e.BUTTON.btn._prev
					+e.btn-icon
						+icon('arrow','0 0 12 10')
				+e.BUTTON.btn._next
					+e.btn-icon
						+icon('arrow','0 0 12 10')
			+e.counter.counter.js-counter
			+e.slider._bottom.swiper-container
				.swiper-wrapper
					+e.ava.swiper-slide
						+e.ava-img(src='/img/ava.jpg')
					+e.ava.swiper-slide
						+e.ava-img(src='/img/ava.jpg')
					+e.ava.swiper-slide
						+e.ava-img(src='/img/ava.jpg')
					+e.ava.swiper-slide
						+e.ava-img(src='/img/ava.jpg')
					+e.ava.swiper-slide
						+e.ava-img(src='/img/ava.jpg')
					+e.ava.swiper-slide
						+e.ava-img(src='/img/ava.jpg')
					+e.ava.swiper-slide
						+e.ava-img(src='/img/ava.jpg')
		+e.line