

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-family: 'TT Norms';

	&:hover{
		.btn{
			&__load{
				&:before{
					transform: scale(8.5);
				}

				&-icon{
					transform: translateY(50rem) rotate(90deg);
				}
			}
		}
	}


	&_download {
		background: $blue;
		color: #fff;
		min-width: 160rem;
		height: 50rem;
		overflow: hidden;
		border-radius: 44px;
		padding: 10rem 68rem 10rem 33rem;


	}

	&__text{
		position: relative;
		z-index: 15;
		transition: ease .3s;
	}

	&__back{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		overflow: hidden;
		display: block;
		z-index: 1;

		&~*{
			z-index: 15;
			position: relative;
		}
	}

	&__load {
		width: 44rem;
		height: 44rem;
		
		position: absolute;
		right: 3rem;
		top: 3rem;
		
		// display: inline-flex;
		// justify-content: center;
		// align-items: center;

		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #5069FF;
			border-radius: 100%;
			transition: ease .3s;
		}

		&-icon {
			width: 12rem;
			height: 10rem;
			z-index: 5;
			position: relative;
			transform: rotate(90deg);
			fill: #fff;

			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -6rem;
			margin-top: -5rem;

			transition: cubic-bezier(1, 0, 0, 1) .4s;

			&_upstairs{
				margin-top: -55rem;
			}
		}
	}
	&_app {
		width: 100%;
		max-width: 240rem;
		border-radius: 4px;
		border: 1px solid $blue;
		height: 78rem;
		text-align: left;
		transition: ease .3s;

		&:hover {
			// background: $blue;
			
			.btn__text{
				color: #fff;
			}
			.btn__icon-apple, .btn__icon-play {
				fill: #fff;
			}
		}
	}
	&__center {
		display: flex;
		align-items: center;
	}
	&__icon-apple {
		display: block;
		width: 28rem;
		height: 32rem;
		fill: $blue;
		margin-right: 13rem;
	}
	&__icon-play {
		display: block;
		width: 25rem;
		height: 27rem;
		fill: #000;
		margin-right: 13rem;
	}
	&__text {
		display: block;
		&-desc {
			font-size: 10px;
			display: block;
		}
		&-title {
			font-size: 18rem;
			display: block;
		}
	}
	&__arrow {
		width: 12rem;
		height: 10rem;
		// transition: all 0.25s ease-in-out;
		transition: .3s ease;
		fill: #fff;
		margin-left: 23rem;
	}
	&_big {
		width: 100%;
		max-width: 240rem;
		background: $blue;
		color: #fff;
		height: 78rem;
		border-radius: 100px;
	}
}

.more {
	display: inline-flex;
	align-items: center;
	color: $blue;
	font-family: 'TT Norms';
	position: relative;

	&:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		bottom: -5px;
		pointer-events: none;
		background-color: $blue;
		transition: ease .2s;
		transform: scale(0,1);
	}

	&__icon {
		width: 12rem;
		height: 10rem;
		position: relative;
		fill: $blue;
		margin-left: 12rem;
		overflow: hidden;
		transition: .25s ease;

		svg{
			// width: 12rem;
			width: 23rem;
			max-width: none;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -5rem;
		}
	}

	&:hover{
		&:before{
			transform: scale(1,1);
		}
		.more{
			&__icon{
				// margin-left: 10rem;
				width: 23rem;
			}
		}
	}
}